<!DOCTYPE html>
<html>
<head>
    <title>Registrar Empleado</title>
</head>
<body>
    <div>
        <a href="/">Registrar Empleado</a> |
        <a href="/listar/">Listar Empleados</a> |
        <a href="/registrar_departamento/">Registrar Departamento</a> |
        <a href="/listar_departamento/">Listar Departamentos</a>
    </div>
    <h1>Registrar Empleado</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar</button>
    </form>
</body>
</html>